<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding" style="text-align: center">
        Login to Your Account 
        <p></p>
        <input type="text" name="activity" placeholder="Email" [(ngModel)]="email">
        <p></p>
        <input type="text" name="activity" placeholder="Password" type="password" [(ngModel)]="password">
        <p></p>

        <ion-button (click)="login()">Login</ion-button>
      </div>
</ion-content>
