<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        Login to Your Account 
        <p></p>
        <input type="text" name="activity" placeholder="Username">
        <p></p>
        <input type="text" name="activity" placeholder="Password">
        <p></p>

        <ion-button (click)="navToProfile()">Login</ion-button>
      </div>
</ion-content>
