<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="genevaProfile">
    <div class="ion-padding">
    
        <h1>Welcome Back, {{firstName}}</h1>
        <p></p>
        Your Rentals
        <p></p>
    
        <ion-card *ngFor="let listing of listings" class="genevaProfile">
          <ion-card-header>
            <ion-card-subtitle class="genevaSubtile">{{listing.location}}</ion-card-subtitle>
            <ion-card-title class="genevaProfile">{{listing.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="genevaDescription">
              {{listing.description}}
          </ion-card-content>
        </ion-card>
    
        <!-- <ion-button (click)="navToNewRental()">Add New Rental</ion-button> -->
        <!-- <p></p> -->
        Enter the Information for Your New Rental
        <p></p>
        Name:
        <br>
        <input type="text" name="name" [(ngModel)]="name">
        <p></p>
        Location:
        <br>
        <input type="text" name="location" [(ngModel)]="location">
        <p></p>
        Price:
        <br>
        <input type="text" name="price" [(ngModel)]="price">
        <p></p>
        Description:
        <br>
        <input type="text" name="description" [(ngModel)]="description">
        <p></p>
        <ion-button color="medium" (click)="createRental()">Add New Rental</ion-button>
      </div>
 </div>
</ion-content>