<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Hello, Juliet
    <p></p>
    Your Rentals
    <p></p>

    <ion-card *ngFor="let listing of listings">
      <ion-card-header>
        <ion-card-subtitle>{{listing.location}}</ion-card-subtitle>
        <ion-card-title>{{listing.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        This can be a description of the listing
      </ion-card-content>
    </ion-card>

    <!-- <ion-button (click)="navToNewRental()">Add New Rental</ion-button> -->
    <!-- <p></p> -->
    Enter the Information for Your New Rental
    <p></p>
    Name:
    <br>
    <input type="text" name="name" [(ngModel)]="name">
    <p></p>
    Location:
    <br>
    <input type="text" name="location" [(ngModel)]="location">
    <p></p>
    Price:
    <br>
    <input type="text" name="price" [(ngModel)]="price">
    <p></p>
    <ion-button (click)="createRental()">Add New Rental</ion-button>
  </div>
</ion-content>