<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Hello, Juliet
    <p></p>
    Your Rentals
    <ion-list>
      <ion-item *ngFor="let item of listings">
        <div>{{item.name}}</div>
        <div>{{item.location}}</div> 
        <div>{{item.price}}</div>
      </ion-item>
    </ion-list>
    <p></p>
    <!-- <ion-button (click)="navToNewRental()">Add New Rental</ion-button> -->
    <!-- <p></p> -->
    Enter the Information for Your New Rental
    <p></p>
    Name:
    <br>
    <input type="text" name="name" ngModel (change)="getFiles($event)"> 
    <p></p>
    Location: 
    <br>
    <input type="text" name="location">
    <p></p>
    Price: 
    <br>
    <input type="text" name="price">
    <p></p>
    <ion-button (click)="createRental()">Add New Rental</ion-button>
  </div>
</ion-content>