<ion-header>
  <ion-toolbar>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Create Your Provider Account 
    <p></p>
    <input type="text" name="activity" placeholder="First Name">
    <p></p>
    <input type="text" name="activity" placeholder="Last Name">
    <p></p>
    <input type="text" name="activity" placeholder="Enail">
    <p></p>
    <input type="text" name="activity" placeholder="Phone Number">
  </div>

  <ion-button (click)="navToLogin()">Register</ion-button>
</ion-content>
