input[type=text] {
    background-color: lightblue;
    border: 4px;
    border-radius: 6px;
    font-weight: normal;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .genevaHome { 
      font-family: Geneva;
      font-weight: bold;
    }